
main {
    flex: 1 0 auto;
  }

  nav, .page-footer {
    background-color: #a6192e;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../Images/Books.jpeg);
    font-family: Dancing Script, cursive;
  }

  .section {
    color: white;
    font-weight: bold;
  }