.section1{
    text-align: center;
}

.section2{
    text-align: center;
}

.section3{
    text-align: center;
}


.bottom{
    padding-top: 200px;
}

.bookshelf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }


  
  nav, .page-footer {
    background-color: #a6192e;
  }

  .bg {
    background-image: url(../Images/Books.jpeg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }