.section1{
    text-align: center;
}

.section2{
    text-align: center;
}

.section3{
    text-align: center;
}

/* .container{
    padding-top: 2px;
    padding-bottom: 10px;
} */

.bottom{
    padding-top: 200px;
}

.bookshelf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}

/* christi's code */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }


  
  nav, .page-footer {
    background-color: #a6192e;
  }

  .bg {
    /* The image used */
    background-image: url(../Images/Books.jpeg);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }