 h1 {
   background-color: black;
   color: white
 }

 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }


 body,
 html {
   height: 100%;
   margin: 0;
 }

 .bg {
   background-image: url(../Images/Books.jpeg);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 #welcome-box {
   color: white;
 }

 nav,
 .page-footer {
   background-color: #a6192e;
 }

 .card {
   color: #888F86;
 }